<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototypetfgv2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.Controller"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_test"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.InitActivity"
            android:label="@string/title_activity_init"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/log_in_facebook" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".controller.PushReceiver" >
            <intent-filter>
                <action android:name="com.example.prototypetfgv2.controller.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.InputUsernameActivity"
            android:label="@string/title_activity_input_username" >
        </activity>
        <activity
            android:name=".view.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".view.UploadPhotoActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_upload_photo"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity
            android:name=".view.ShowPhotoActivity"
            android:label="@string/title_activity_show_photo" >
        </activity>
        <activity
            android:name="com.example.prototypetfgv2.view.ListViewPhotosActivity"
            android:label="@string/title_activity_list_view_photos" >
        </activity>
    </application>

</manifest>
